/**
* style.css
*
* Theme Name:   itdesign WordPress Challenge
* Author:       Lukas Kaisers <a href="https://itdesign.de/" target="blank">@itdesign</a>
* Author URI:   https://itdesign.de/
* Description:  This is a lightweight theme to provide an easy infrastructure to test WordPress functionality
* Text Domain:  itdesign
* Tags:         bootstrap, jQuery, responsive
*
*/



/* ****************** 
-- Add a button to all of your pages which can be used to enable a "Dark Mode".
 ************************/

:root {
  --clr-light: #fafafa;
  --clr-dark: #292C35;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

.darkmode {
  --clr-light: #fafafa;
  --clr-dark: #292C35;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);  

}


.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 4em;
  right: 2em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  
}

/* ########## */

img {
  max-width: 100%;
  height: auto;

}

.blog-posts {
display: flex;
flex-flow: row wrap;

}

.itdesign-item{
 width: 100%;
 margin:0 auto;    
 clear: both;
 margin-bottom: 20px; 
 overflow: auto;
 border-bottom: #eee thin solid;
 padding-bottom: 20px;  

}
 
.itdesign-poster{
width: 160px;
float: left;
margin-right: 25px; 

}
 
.itdesign-poster img{
width: 100%;
height: auto;

}
 
.itdesign-name{
font-size: 35px;

}

/* pagination button color */

.page-numbers.current > span {
	background-color: grey;
	color: #fff;
}



